private_info.py
__pycache__
Scripts
Lib
pyvenv.cfg
#git push https://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@github.com/TheOtherBrian1/Data-Analysis-Practice-1
.ipynb_checkpoints
elated-lotus-327012-1bec9a80bd18.json